<mat-drawer-container class="container" autosize>
  <!-- Menú Lateral (Drawer) -->
  <mat-drawer mode="side" opened>
    <mat-nav-list class="menu">
      <div mat-list-item *ngFor="let item of menuItems" [routerLink]="item.link" class="menu-link">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <!-- Contenido Principal -->
  <mat-drawer-content>
    <main role="main" class="main-content">
      <router-outlet></router-outlet> 
    </main>
  </mat-drawer-content>
</mat-drawer-container>
